.main-div {
  border: solid 2px;
  border-color: black;
  border-radius: 5px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 40rem;
  height: 20rem;
}

#child-div-1 {
  padding: 1rem;
  margin: 10px;
}

#child-div-2 {
  padding: 1rem;
  margin: 10px;
}
