body{
    background-color: whitesmoke;
}

#hone{
    color: brown;
    text-align: center;
    text-shadow: rosybrown;
}

#aone{
    text-decoration: underline;
}

#pone{
    text-decoration: wavy;
    text-align: center;
    font-weight: 400;
    font-size: large;
}

#divfour{
    
}